# Copyright 2017, A. Botorabi
#
# Sample configuration for user account registration related operations
#
# For the case that the web site is hosted elsewhere you may want to
# implement the user registration UI on your web site and use a reverse
# proxy to reach the application server. The following links are used
# in user emails to provide links for account activation, password reset
# etc. Adapt them to your external server URLs.
#

# This email receives a copy of all mails sent to a user during account
#  registration and activation. Let it empty if not needed.
mail.notification=admin@mail.com

url.registration=https://localhost:8181/m4e/register.html
url.activation=https://localhost:8181/m4e/activate.html
url.requestPasswordReset=https://localhost:8181/m4e/requestpassword.html
url.passwordReset=https://localhost:8181/m4e/resetpassword.html
