# Copyright 2017, A. Botorabi
#
# Sample JavaMail configuration used by Meet4Eat for sending emails to users.
#  
# This configuration can be used for a TLS enabled mail server.
#
# Fill the following fields below:
# 
# mail.from=
# mail.smtp.user=
# mail.smtp.password=
# mail.smtp.host=
# mail.smtp.port=

# Put a human readable From name
mail.from.name=Meet4Eat

mail.from=
mail.smtp.user=
mail.smtp.password=
mail.smtp.host=
mail.smtp.port=

mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory
mail.smtp.socketFactory.fallback=false
